* {
  box-sizing: content-box;
}

body {
  background-color: #0f0f0f;
}

.c1 {
  display: flex;
}

.br1{
  height: 33px;
}

@media only screen and (min-width: 768px) {
  .eventpage {
    background-color: #0f0f0f;
    color: white;
    border-radius: 20px;
    width: 70vw;
    margin-left: 15vw;
  }
  .organizer {
    height: 250px;
    width: 25%;
    border-radius: 20px;
    /* grid-area: 7/1/9/2; */
    background-color: #1e1b1b;
    /* padding-left: 20px; */
    padding-top: 1%;
  }

  .image {
    height: 31rem;
    width: 100%;
    border-radius: 20px;
    /* grid-area: 1/1/5/6; */
    background-color: #1e1b1b;
  }

  .image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .about {
    height: fit-content;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-radius: 20px;
    /* grid-area: 7/2/9/5; */
    background-color: #1e1b1b;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 18px;
  }
  .register1 {
    padding-left: 2%;
    padding-top: 0.1%;
    height: 200px;
    width: 98%;
    /* padding: 5px; */
    border-radius: 20px;
    /* grid-area: 5/1/7/6; */
    background-color: #1e1b1b;
  }
  .event_icon {
    display: none;
  }
  .register2 {
    display: none;
  }
  .date {
    display: flex;
    float: left;
    margin-top: 10px;
    margin-right: 1%;
  }
  .date img{
    width: 1px;
    height: auto;
    margin-left: 40px;
  }
  .deadline1 img {
    height: 100%;
    width: auto;
    border-radius: 0px;
    margin-top: 10px;
  }
  .deadline1 {
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    /* grid-area: 7/5/10/5; */
    background-color: #1e1b1b;
    margin-bottom: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
  }
  .deadline2 {
    display: none;
  }
  .register3 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .organizer {
    display: none;
  }
  .eventpage {
    background-color: #0f0f0f;
    color: white;
    /* width: 100vw; */
  }
  .br1 {
    display: none;
  }
  .event_icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 50%;
    background: #000;
    border: 1px solid rgb(128, 128, 128);
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .event_icon img {
    /* vertical-align: bottom; */
    /* margin: auto; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    /* margin-top: 16%; */
    width: 60%;
    height: 60%;
  }
  .event_title {
    display: flex;
  }
  .register1 {
    display: none;
  }
  .register2 {
    padding-left: 2%;
    padding-top: 0.1%;
    height: 14rem;
    width: 98%;
    /* padding: 5px; */
    /* grid-area: 5/1/7/6; */
    background-color: #1e1b1b;
  }
  h1 {
    margin-top: 1rem;
  }
  .date {
    display: flex;
    float: left;
    margin-top: 10px;
    width: 97%;
  }
  .venue {
    display: flex;
    float: left;
    width: fit-content;
    /* margin-top: 4rem; */
    margin-right: auto;
  }
  .venue img {
    padding-top: 10%;
  }
  .hr2 {
    border: 1px solid gray;
    float: left;
    width: 97%;
    margin-top: 2%;
  }
  .deadline1 {
    display: none;
  }
  .deadline2 {
    height: fit-content;
    background-color: #1e1b1b;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
  }
  .about {
    height: fit-content;
    padding-bottom: 1%;
    background-color: #1e1b1b;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 18px;
    margin-bottom: 50px;
  }
}

.graytext {
  color: rgba(255, 255, 255, 0.6);
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 1rem;
  font-weight: 380;
  font-style: normal;
}

.register1 h1 {
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 0px;
  margin-top: 1%;
}

  svg {
    display: initial;
    vertical-align: initial;
  }

.right {
  float: right;
  margin-right: 3%;
  margin-top: 4%;
  display: flex;
  word-spacing: 2px;
  margin-left: 7%;
}

.rupee {
  background: -webkit-linear-gradient(54deg, #f54109 50%, #f5d00b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.rupee img{
  width: 10px;

}

.register1 a {
  float: right;
  margin-right: 3%;
  margin-top: 3%;
  padding: 10px 20px 10px 20px;
  background-image: linear-gradient(54deg, #f54109 50%, #f5d00b 100%);
  color: white;
  border-radius: 7.26px 7.264px 7.264px 7.26px;
  border: solid white 1.5px;
  font-weight: 600;
  font-stretch: ultra-expanded;
  text-decoration: none;
}

.register1 a:hover {
  background-image: linear-gradient(54deg, #f35c2f 50%, #e4cc42 100%);
  cursor: pointer;
}

.register3 {
  height: 5.5rem;
  vertical-align: middle;
  width: 100%;
}

.register3 img {
  height: 100%;
}

.register3 h4 {
  font-size: 120%;
}

.register3 .right {
  float: left;
  margin-right: 3%;
  margin-top: 25px;
  display: flex;
  word-spacing: 2px;
}

.register3 a {
  float: right;
  margin-right: 7%;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 1.5625rem;
  background: var(
    --gradient-1,
    linear-gradient(54deg, #f54109 50%, #f5d00b 100%)
  );
  color: white;
  font-weight: 600;
  font-stretch: ultra-expanded;
  text-decoration: none;
}

.register3 a:hover {
  background-image: linear-gradient(54deg, #f35c2f 50%, #e4cc42 100%);
  cursor: pointer;
}

.register1 hr {
  border: 1px solid gray;
  float: left;
  width: 97%;
  margin-top: 2%;
}

.startdate {
  margin-right: 4rem;
}

.enddate {
  /* margin-right: auto;
  float: right; */
  margin-left: auto;
}

.venueicon {
  margin-left: 3rem;
  margin-top: 1rem;
}

.venuetext {
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.logo {
  width: 7rem;
  height: auto;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  margin-left: 12px;
  font-size: large;
}

.title2 {
  font-size: large;
}

.media {
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  padding: 4% 15% 0px 15%;
}

.media a {
  height: 100%;
  width: auto;
  /* margin-top: 12px; */
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 5%;
  padding-left: 5%;
}

.media img {
  border-radius: 0px;
  height: 38px;
}

.media img:hover {
  cursor: pointer;
}

.d1 {
  width: 100%;
  margin: auto;
  display: flex;
}

.d2 {
  margin: auto;
  margin-top: 4%;
  display: flex;
}

.container {
  display: flex;
  /* margin-left: 1%; */
}

.container img {
  width: 17%;
  height: 65%;
  padding: 10px;
  margin-left: 0px;
  border-radius: 6.531px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.details {
  margin-top: 2%;
  margin-left: 5%;
  width: 50%;
}
